.about-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto; /* Center the container horizontally */
  max-width: 1200px; 
  margin-top: 15rem;
  border-radius: 5px;
  padding: 1rem;
    
  }

  .content {
    opacity: 0;
    transition: opacity 1.9s ease;
  }
  
  .content.show {
    opacity: 1;
  }
  .content.hide {
    opacity: 0;
  }
  
  .about-image {
  flex: 1;
  max-width: 50%;
  max-height: 50%;
  margin-left: 10rem;
  border-radius: 50%;
  }
  
  .about-div p {
   
  
    flex-basis: 43%;
    margin-right: 10px
  }
  
  @media screen and (max-width: 768px) {
    .about-div {
      flex-direction: column;

    }
  
    .about-image {
      max-width: 50%;
      max-height: 50%;
      margin: 1rem 0;
    }
  
    .about-div p {
      margin-left: 0;
    }
    
    @media screen and (max-width: 300px) {
    .about-div {
      align-items: center;
      /* flex-basis: 12%; */
    }
  
    .about-div p {
      margin-top: 1rem;
    }
  }
  }