.header-div {
    margin: 10px;
    text-align: center;
    justify-content:center;

}
.header-div h1 {
 font-size: 5rem;
}

.name-header {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px #000000; 
  }
  
  .gradient-hr {
    height: 1px;
    border: none;
    background: linear-gradient(to right, #ff0000 0%, #ff7f00 17%, #ffff00 33%, #00ff00 50%, #0000ff 67%, #4b0082 83%, #8b00ff 100%);
    margin-top: 50px;
    max-width: 100%
  }
  
  @media screen and (min-width: 768px) {
    .gradient-hr {
      width: 75rem;
    }
  }
  
  @media screen and (max-width: 767px) {
    .gradient-hr {
      width: 25rem;
    }
  }
  @media screen and (max-width: 409px) {
    .gradient-hr {
      width: 10rem;
    }
  }
  
  .header-p{
    font-style: italic;
    font-size: 25px;
  }