.projects-container {
  align-items: center;
  margin-bottom: 2rem;
  margin: 100px;
  border-radius: 5px;
  margin-top: 5rem;
  max-width: 100%;
}

.projects-div {
  margin-top: 15rem
}

.project-description {
  flex: 1;
  flex-basis: 40%;
}
.project-image {
  flex: 1;
  max-width: 45%;
  max-height: 45%;
  padding: 0 5%;
  filter: blur(0);
  transition: filter 0.3s ease-in-out;
  position: relative;
  width: 100%;
  height: 100%;
}


.project-image-container {
  position: relative;
}

.project-image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}


.project-image-container:hover .project-image-overlay {
  opacity: 1;
}




.project-image:hover {
  filter: blur(3px);
  
}



.project-image-container:hover .project-image {
  filter: blur(5px);
}

@media screen and (max-width: 900px) {

  .project-image {
    max-width: 75%;
    max-height: 75%;
  }
}


@media screen and (max-width: 600px) {
  .projects-container {
    flex-direction: column;
  }

  .project-image {
    margin: 1rem auto;
    max-width: none;
    max-height: none;

  }
}

